{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrayBracketSpacing": true,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
