@import './index.scss';

.App {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $color-primary;
  color: $color-text-primary;
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .App {
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 1rem;
  }
}
